bin
obj
*.suo
*.user
/packages
ConfigurationTool/Bin/Debug/Interop.ActiveDs.dll
ConfigurationTool/Bin/Debug/Interop.NetFwTypeLib.dll
ConfigurationTool/Bin/Debug/Logs/Opc.Ua.ConfigurationTool.log.txt
ConfigurationTool/Bin/Debug/Opc.Ua.CertificateGenerator.exe
ConfigurationTool/Bin/Debug/Opc.Ua.Client.dll
ConfigurationTool/Bin/Debug/Opc.Ua.Client.pdb
ConfigurationTool/Bin/Debug/Opc.Ua.ClientControls.dll
ConfigurationTool/Bin/Debug/Opc.Ua.ClientControls.pdb
ConfigurationTool/Bin/Debug/Opc.Ua.ComInterop.dll
ConfigurationTool/Bin/Debug/Opc.Ua.Configuration.dll
ConfigurationTool/Bin/Debug/Opc.Ua.Configuration.pdb
ConfigurationTool/Bin/Debug/Opc.Ua.ConfigurationConsole.exe
ConfigurationTool/Bin/Debug/Opc.Ua.ConfigurationConsole.pdb
ConfigurationTool/Bin/Debug/Opc.Ua.ConfigurationTool.Config.xml
ConfigurationTool/Bin/Debug/Opc.Ua.ConfigurationTool.exe
ConfigurationTool/Bin/Debug/Opc.Ua.ConfigurationTool.exe.config
ConfigurationTool/Bin/Debug/Opc.Ua.ConfigurationTool.pdb
ConfigurationTool/Bin/Debug/Opc.Ua.Core.dll
ConfigurationTool/Bin/Debug/Opc.Ua.Core.pdb
ConfigurationTool/Bin/Debug/stdole.dll
